<div class="mt-3">
  <p style="font-size: 3rem; position: absolute; top:35vh; left:32vw; color: rgba(255,255,0,0.8);">
    Pepabo Maker Festival
  </p>
  <p style="font-size: 3rem; position: absolute; top:42vh; left:30vw; color: rgba(255,255,255,0.8);">
    今日の感想を教えて<span style="color: rgba(255,255,0,0.8);">(^^)</span>
  </p>
  <% @posts.each_with_index do |post, idx| %>
    <p class="word word<%= idx %>" style="font-size: 3rem; position: absolute;"><%= post.word %></p>
  <% end %>
</div>
<div class="fixed-bottom bg-dark">
  <div class="container my-3">
    <%= render "form", post: @post %>
  </div>
</div>